{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "AWS.Deployment.Tests StackOutputs (Please Delete Me)",
  "Parameters": {
  },
  "Resources": {
    "bucket1": {
      "Type": "AWS::S3::Bucket",
      "Properties": {
        "BucketName": "aws-tools-test-bucket-666"
      }
    }
  },
  "Outputs": { 
	"outputA": { "Value": "123" }, 
	"outputB": { "Value": "456" }
  } 
}
